/*SITE VARIABLES*/
/*COLOR SECTION*/
.t-blue { color: #80caff; }

.t-green { color: #c6de4b; }

.t-purple { color: #eb00eb; }

.t-orange { color: #ffbc54; }

.t-yellow { color: #fced6a; }

.t-red { color: #ff666c; }

p, ul li { color: #808080; }

/*HEADER DEFAULTS*/
header { background-color: #262626; }
header h5 { letter-spacing: 1px; padding: 1em 0em; font-size: 1.6em; width: 100%; text-align: center; color: #ffffff; }
header h5 span { font-family: BebasThin; }
header h5 span:first-child { padding-right: 1em; }
header h5 span:last-child { padding-left: 1em; }

/*FOOTER DEFAULTS*/
.l1-body { background-color: #1a1a1a; }

#gort { margin: 0 auto; padding-bottom: 60px; }
#gort .gortion { display: block; float: left; box-sizing: border-box; -moz-box-sizing: border-box; width: 150px; height: 150px; }
#gort .gortion a { overflow: hidden; font-size: 1.6em; font-family: BebasRegular; text-align: center; width: 100%; height: 50px; display: block; text-decoration: none; margin-top: 50px; line-height: 50px; color: #1a1a1a; -webkit-perspective: 300px; -moz-perspective: 300px; -o-perspective: 300px; -ms-perspective: 300px; perspective: 300px; -webkit-transform: rotateX(30deg) rotateY(15deg) rotateZ(-20deg); -moz-transform: rotateX(30deg) rotateY(15deg) rotateZ(-20deg); -o-transform: rotateX(30deg) rotateY(15deg) rotateZ(-20deg); -ms-transform: rotateX(30deg) rotateY(15deg) rotateZ(-20deg); transform: rotateX(30deg) rotateY(15deg) rotateZ(-20deg); -webkit-transition: 0.5s; transition: 0.5s; -moz-box-shadow: -3px 3px 11px -3px #000; -webkit-box-shadow: -3px 3px 11px -3px #000; box-shadow: -3px 3px 11px -3px #000; }
#gort .gortion a .random-image { opacity: 0.25; -webkit-transition: 0.5s; transition: 0.5s; }
#gort .gortion a .random-image:hover { opacity: 1.0; }
#gort .gortion a.green { background: url("../images/graphic-icon-knight.png") no-repeat top right, #b6cc45; background-size: 20px; }
#gort .gortion a.green:hover { border-right: 15px solid #c6de4b; }
#gort .gortion a.blue { background: url("../images/graphic-icon-knight.png") no-repeat top right, #54b8ff; background-size: 20px; }
#gort .gortion a.blue:hover { border-right: 15px solid #80caff; }
#gort .gortion a.purple { background: url("../images/graphic-icon-knight.png") no-repeat top right, #cf00cf; background-size: 20px; }
#gort .gortion a.purple:hover { border-right: 15px solid #eb00eb; }
#gort .gortion a.orange { background: url("../images/graphic-icon-knight.png") no-repeat top right, #ffa821; background-size: 20px; }
#gort .gortion a.orange:hover { border-right: 15px solid #ffbc54; }
#gort .gortion a.yellow { background: url("../images/graphic-icon-knight.png") no-repeat top right, #fce83a; background-size: 20px; }
#gort .gortion a.yellow:hover { border-right: 15px solid #fced6a; }
#gort .gortion a.red { background: url("../images/graphic-icon-knight.png") no-repeat top right, #ff3b43; background-size: 20px; }
#gort .gortion a.red:hover { border-right: 15px solid #ff666c; }
#gort .gortion a.grey { background: #262626; }

#photo { text-align: center; padding-top: 60px; padding-bottom: 60px; background-color: #000000; }
#photo h1 { color: #808080; padding-bottom: 60px; }
#photo img { margin: 0px auto; }

#introduction { padding: 60px 0em; }

#skills-abilities { background-color: #000; padding: 60px 0em; }
#skills-abilities h1 { color: #808080; }
@-webkit-keyframes MOVE-BG { from { background-position: 0% 0%; }
  to { background-position: -187% 0%; } }
#skills-abilities .roller { opacity: 0.0; position: absolute; right: -40px; top: -15px; width: 47px; height: 34px; background: url("../images/graphic-roller.png") no-repeat center; -ms-transform: rotate(-14deg); -webkit-transform: rotate(-14deg); transform: rotate(-14deg); -webkit-transition: 0.5s; transition: 0.5s; }
#skills-abilities .roller .head { display: block; position: absolute; bottom: 0px; left: 0px; width: 9px; height: 30px; border-radius: 3px; background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, 0.5) 21%, rgba(255, 255, 255, 0.5) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, 0.5) 21%, rgba(255, 255, 255, 0.5) 34%, transparent 35%, transparent) 0 -50px; background-size: 40px 10px; -webkit-animation-name: MOVE-BG; -webkit-animation-duration: 2s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; -webkit-box-shadow: -3px -3px 1px 2px rgba(0, 0, 0, 0.75); -moz-box-shadow: -3px -3px 1px 2px rgba(0, 0, 0, 0.75); box-shadow: -3px -3px 1px 2px rgba(0, 0, 0, 0.75); }
#skills-abilities .paint { -webkit-transition: 1.5s; transition: 1.5s; display: block; width: 0px; height: 1em; }
#skills-abilities .paint.blue { background-color: #80caff; }
#skills-abilities .paint.blue .head { background-color: #54b8ff; }
#skills-abilities .paint.green { background-color: #c6de4b; }
#skills-abilities .paint.green .head { background-color: #b6cc45; }
#skills-abilities .paint.purple { background-color: #eb00eb; }
#skills-abilities .paint.purple .head { background-color: #cf00cf; }
#skills-abilities .paint.yellow { background-color: #fced6a; }
#skills-abilities .paint.yellow .head { background-color: #fce83a; }
#skills-abilities .paint.orange { background-color: #ffbc54; }
#skills-abilities .paint.orange .head { background-color: #ffa821; }
#skills-abilities .paint.red { background-color: #ff666c; }
#skills-abilities .paint.red .head { background-color: #ff3b43; }
#skills-abilities p { text-transform: uppercase; font-size: 0.9em; }
#skills-abilities p:hover .roller { opacity: 1.0; }
#skills-abilities p:hover .p100 { width: 100%; }
#skills-abilities p:hover .p90 { width: 90%; }
#skills-abilities p:hover .p80 { width: 80%; }
#skills-abilities p:hover .p70 { width: 70%; }
#skills-abilities p:hover .p60 { width: 60%; }
#skills-abilities p:hover .p50 { width: 50%; }

#gallery { padding: 60px 0em; }
#gallery .gallery-columns { width: 100%; -webkit-column-count: 3; -webkit-column-gap: 0px; -moz-column-count: 3; -moz-column-gap: 0px; column-count: 3; column-gap: 0px; }
#gallery .gallery-columns img { display: block; box-sizing: border-box; -moz-box-sizing: border-box; border: solid 10px #000000; }
#gallery .gallery-columns img:hover { border: solid 4px rgba(0, 213, 255, 0.2); cursor: pointer; }
@media screen and (max-width: 400px) { #gallery .gallery-columns { width: 100%; -webkit-column-count: 1; -webkit-column-gap: 0px; -moz-column-count: 1; -moz-column-gap: 0px; column-count: 1; column-gap: 0px; } }
@media screen and (min-width: 401px) and (max-width: 768px) { #gallery .gallery-columns { width: 100%; -webkit-column-count: 2; -webkit-column-gap: 0px; -moz-column-count: 2; -moz-column-gap: 0px; column-count: 2; column-gap: 0px; } }

#contact { background-color: #000; padding-top: 60px; }
#contact h1 { color: #808080; }
#contact p { text-align: center; padding-top: 30px; padding-bottom: 60px; height: 60px; }
#contact p a { opacity: 0.5; display: inline-block; color: #1a1a1a; margin: 0em 1em; font-size: 1.6em; width: 46px; height: 46px; line-height: 52px; border-radius: 46px; margin-top: 7px; background-color: #54b8ff; -moz-box-shadow: 0px 0px 10px 1px #000; -webkit-box-shadow: 0px 0px 10px 1px #000; box-shadow: 0px 0px 10px 1px #000; -webkit-transition: 0.5s; transition: 0.5s; }
#contact p a:hover { font-size: 2em; width: 60px; height: 60px; margin-top: 7px; line-height: 68px; border-radius: 60px; opacity: 1.0; background-color: #80caff; }

#other { padding: 60px 0em; }
#other ul { padding-left: 2em; }

footer { background-color: #000000; text-align: center; }
footer h5 { padding: 1em 0em; color: #cf00cf !important; }
