/*SITE VARIABLES*/
@font-face {
  font-family: 'BebasBold';
  src: url("../../fonts/BebasNeueBold.otf"); }
@font-face {
  font-family: 'BebasBook';
  src: url("../../fonts/BebasNeueBook.otf"); }
@font-face {
  font-family: 'BebasLight';
  src: url("../../fonts/BebasNeueLight.otf"); }
@font-face {
  font-family: 'BebasRegular';
  src: url("../../fonts/BebasNeueRegular.otf"); }
@font-face {
  font-family: 'BebasThin';
  src: url("../../fonts/BebasNeueThin.otf"); }
/*FONT SPACING*/
/*P*/
p + p {
  margin-top: 1em; }

p + h1, p + h2, p + h3, p + h4, p + h5 {
  margin-top: 1em; }

p + ul, p + ol {
  margin-top: 1em; }

/*H*/
h1 + h2, h2 + h3, h3 + h4, h4 + h5 {
  margin-top: 0.5em; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
  margin-top: 0.5em; }

/*UL*/
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul {
  margin-top: 1em; }

ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + p, ul + pre, ul + ul, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + p, ol + pre, ol + ol {
  margin-top: 1.5em; }

/*LI*/
li + li {
  margin-top: 0.5em; }

/*PRE*/
h1 + pre, h2 + pre, h3 + pre, h4 + pre, h5 + pre, p + pre, pre + pre {
  margin-top: 1em; }

ul + pre, ol + pre {
  margin-top: 1em; }

pre + h1, pre + h2, pre + h3, pre + h4, pre + h5, pre + ol, pre + ul, pre + p {
  margin-top: 1.5em; }

/*BASE FONT SETTINGS*/
html {
  font-size: 10pt; }
  html h1, html h2, html h3, html h4, html h5 {
    color: #ffffff;
    font-family: BebasRegular;
    font-weight: 300;
    -webkit-font-smoothing: antialiased; }
  html p, html ul li {
    font-family: Ubuntu, sans-serif;
    font-weight: 300; }
  html a {
    -webkit-font-smoothing: antialiased; }
  html p a {
    color: #fff;
    text-decoration: none;
    font-family: BebasRegular; }

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

/*BASE SPHERO*/
h1 {
  font-size: 3.8em; }

h2 {
  font-size: 3.2em; }

h3 {
  font-size: 2.6em; }

h4 {
  font-size: 1.8em; }

h5 {
  font-size: 1.2em; }

p, ol li, ul li {
  font-size: 1.2em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  h1 {
    font-size: 3.2em; }

  h2 {
    font-size: 2.8em; }

  h3 {
    font-size: 2.4em; }

  h4 {
    font-size: 1.2em; }

  h5 {
    font-size: 1.0em; }

  p, ol li, ul li {
    font-size: 1.2em;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased; } }
/*COLUMNS*/
.l1-column {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .l1-column.column-20 {
    width: 20%;
    padding: 0em 2%; }
  .l1-column.column-25 {
    width: 25%;
    padding: 0em 2%; }
  .l1-column.column-33 {
    width: 33%;
    padding: 0em 2%; }
  .l1-column.column-50 {
    width: 50%;
    padding: 0em 2%; }
  .l1-column.column-66 {
    width: 66%;
    padding: 0em 2%; }
  .l1-column.column-100 {
    width: 98;
    padding: 0em 2%;
    float: none !important; }

@media screen and (max-width: 400px) {
  .l1-holder, .l1-holder-min {
    width: 96%;
    padding: 0 2%; }

  .l1-column.column-20, .l1-column.column-25, .l1-column.column-33, .l1-column.column-50, .l1-column.column-66 {
    float: none;
    width: 98%;
    margin-left: auto;
    margin-right: auto; }
  .l1-column.column-33:nth-child(2), .l1-column.column-33:nth-child(3) {
    margin-top: 2em; }
  .l1-column.column-50:last-child {
    margin-top: 2em; } }
@media screen and (min-width: 401px) and (max-width: 768px) {
  .l1-holder, .l1-holder-min {
    width: 96%;
    padding: 0 2%; }

  .l1-column.column-20, .l1-column.column-25, .l1-column.column-33, .l1-column.column-50, .l1-column.column-66 {
    float: none;
    width: 98%;
    margin-left: auto;
    margin-right: auto; }
  .l1-column.column-33:nth-child(2), .l1-column.column-33:nth-child(3) {
    margin-top: 2em; }
  .l1-column.column-50:last-child {
    margin-top: 2em; } }
/*OTHER BASE*/
.l1-holder {
  max-width: 1400px;
  margin: 0px auto; }

.l1-holder-min {
  max-width: 800px;
  margin: 0px auto; }

.l1-clear-float:after {
  content: '';
  display: block;
  clear: both; }

.l1-clear-inline {
  clear: both; }

@media screen and (max-width: 400px) {
  .l1-body {
    margin-top: 0px; } }
/*BUTTON SETTINGS*/
.l1-button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  /*BUTTON SIZE FIXED*/
  /*BUTTON SIZE RELATIVE*/
  /*BUTTON COLORS*/ }
  .l1-button.button-xs {
    border-radius: 1px;
    font-size: 1.0em;
    width: 120px;
    height: 26px;
    line-height: 26px;
    text-align: center; }
  .l1-button.button-sm {
    border-radius: 2px;
    font-size: 1.2em;
    width: 160px;
    height: 36px;
    line-height: 36px;
    text-align: center; }
  .l1-button.button-md {
    border-radius: 3px;
    font-size: 1.4em;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center; }
  .l1-button.button-lg {
    border-radius: 4px;
    font-size: 3em;
    width: 300px;
    height: 70px;
    line-height: 70px;
    text-align: center; }
  .l1-button.button-20pd {
    border-radius: 3px;
    padding: 20px;
    font-size: 1.4em;
    margin: 1em 0em; }

/*AUTO ADJUST IFRAME*/
.l1-iframe-holder {
  width: 100%;
  height: 0px;
  padding-bottom: 56%;
  margin-top: 1.0em; }
  .l1-iframe-holder iframe {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%; }

img {
  max-width: 100%; }

.l1-auto-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000; }

.l1-auto-overlay .l1-auto-holder {
  width: 90%;
  max-width: 800px;
  top: 100px;
  margin: 0px auto; }

.l1-auto-overlay .l1-auto-holder .l1-auto-height img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 600px; }
